<div class="all">
  <div class="post">
    <h1 class="titre">Sign In</h1>
    <form class="example-form">
      <mat-form-field class="example-full-width custom-field" style="margin-bottom: 25px;">
        <mat-label>UserName</mat-label>
        <input class="inpt" matInput placeholder="Ex. user" value="">
      </mat-form-field>
   
      <mat-form-field class="example-full-width custom-field">
        <mat-label>Password</mat-label>
        <input class="inpt" matInput placeholder="Ex. password" value="">
      </mat-form-field>

      <div style="text-align: center; margin-top: 20px; ;">
        <button mat-raised-button color="primary" class="btn" style="width: 90%;margin-bottom: 20px;">Log In</button>
      </div>
   </form>


      
  </div>
  <div class="description">
    Bonjour a notre application
  </div>

</div>
