<div class="all">
  <div class="post">
    <h1 class="titre">Sign In</h1>
    <form class="example-form">
      <mat-form-field class="example-full-width custom-field" style="margin-bottom: 25px;">
        <mat-label>UserName</mat-label>
        <input class="inpt" matInput placeholder="Ex. user" value="">
      </mat-form-field>
   
      <mat-form-field class="example-full-width custom-field">
        <mat-label>Password</mat-label>
        <input class="inpt" matInput placeholder="Ex. password" value="">
      </mat-form-field>

      <div style="text-align: center; margin-top: 20px; ;">
        <button mat-raised-button color="primary" class="btn" style="width: 90%;margin-bottom: 20px;">Log In</button>
      </div>
      <div class="lien">
        <a href="#">Forgot Password</a>
      </div>
      <div class="lien_signup" style="margin-top: 10px;margin-bottom: 10px;">
        <a href="" style="color: rgb(27, 61, 156);"> Vous n'avez pas de compte </a>
      </div>
      
   </form>      
  </div>
  <div class="description">
    <h1>Bienvenue à la connexion</h1>
    <p>Vous n'avez pas de compte</p>
    <button mat-raised-button class="btn">Sing Up</button>
  </div>

</div>
