
html, body { height: 100%; }
body { margin: 0; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}
.cdk-overlay-container {
    z-index: 1050; /* Ajuster pour que le datepicker s'affiche au-dessus de Bootstrap */
  }