<div class="all">
    <div class="cart-signup">
        <h1 >Sign Up</h1>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Nom</mat-label>
              <input matInput placeholder="Ex. Nom" >
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Prenom</mat-label>
                <input matInput placeholder="Ex. Prenom" >
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Age</mat-label>
                <input matInput placeholder="Ex. Age" >
              </mat-form-field>
          </form>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Ex. Email" >
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Telephone</mat-label>
                <input matInput placeholder="Ex. Telephone" >
              </mat-form-field>

          </form>
          <form class="example-form">
            <mat-form-field class="example-full-width custom-field">
                <mat-label> Mot de passe</mat-label>
                <input class="inpt" matInput placeholder="Ex. Mot de passe" value="">
              </mat-form-field>
              <mat-form-field class="example-full-width custom-field">
                <mat-label>Confirmer le mot de passe</mat-label>
                <input class="inpt" matInput placeholder="Ex. Confirmer le mot de passe" value="">
              </mat-form-field>
          </form>
            <button color="primary" mat-raised-button class="btn" style="width: 30%;margin-bottom: 50px;">Sing Up</button>
    </div>
</div>
